<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean class="cd.spring.Address" id="addrid">-->
<!--&lt;!&ndash;        <property name = "houseno" value="111" />&ndash;&gt;SETTER METHOD-->
<!--        <property name = "city" value="indore" />-->
<!--        <property name = "pincode" value="123456" />-->
    <bean class="cd.spring.Address" id="addrid">
        <constructor-arg value="122" />
        <constructor-arg value="Delhi" />
        <constructor-arg value="123456" />
    </bean>

<!--    <bean class = "cd.spring.Student" id = "stdid1">-->
<!--        <property name ="name" value = "Sambhav" />-->
<!--        <property name ="roll" value = "23" />-->
<!--        <property name ="Address" ref = "addrid" />-->
    <bean class="cd.spring.Student" id="stdid1">
        <constructor-arg value="Sambhav" />
        <constructor-arg value="23" />
        <constructor-arg ref="addrid" />
    </bean>
</beans>