<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class = "cd.spring.Student" id = "stdid">
            <property name = "name" value = "Sambhav" />
            <property name = "roll" value = "23" />
             <property name = "email" value ="sambhav@gmail.com" />
    </bean>
    <bean class = "cd.spring.Student" id = "stdid2">
        <property name = "name" value = "Ram" />
        <property name = "roll" value = "21" />
        <property name = "email" value ="ram@gmail.com" />
    </bean>
</beans>